@font-face {
    font-family: "Roose Sally";
    src: url("./assets/Roose\ Sally.woff") format("woff"); 
  }

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: lightsteelblue;
    background-image: url("./assets/vaporwave.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home {
    padding: 20px;
}

.wrapper {
    border-radius: 30px;
    border: 4px dotted white;
    width: 40vw;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}

.headline {
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
    background-size: 1200% 1200%;
    -webkit-animation: rainbow 30s ease infinite;
    animation: rainbow 30s ease infinite;
    font-size: 10vw;
    font-family: Roose Sally;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

.container {
    background-color: #ee85b6E6;
    padding: 50px;
    margin: 20px;
    margin-bottom: 100px;
    color: white;
    font-size: 4vw;
    text-decoration: none;
    font-family: 'Antonio', sans-serif;
}

.about {
    position: fixed;
    font-family: "Roose Sally";
    text-decoration: none;
    right: 10px;
    bottom: 10px;
    font-size: 50px;
    color: #fd008f;
}